[submodule "themes/hemingway"]
    path = themes/hemingway
    url = https://github.com/tanksuzuki/hemingway.git

[submodule "themes/kiss"]
    path = themes/kiss
    url = https://github.com/ribice/kiss.git