[submodule "themes/hemingway"]
    path = themes/hemingway
    url = https://github.com/tanksuzuki/hemingway.git
[submodule "themes/kiss"]
    path = themes/kiss
    url = https://github.com/ribice/kiss.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
